.custom_page {
  padding-bottom: 60px;

  &__content {
    font-size: 0;

    padding: 40px 0 130px 0;
  }

  &__left_col,
  &__right_col {
    display: inline-block;
    vertical-align: top;
  }

  &__left_col {
    width: 66.666666%;
    padding: 0 35px 0 40px;
    box-sizing: border-box;
  }

  &__desc {
    margin-bottom: 30px;

    .brief {
      font-family: 'OpenSans-SemiBold';

      margin-bottom: 20px;
    }

    .extended p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__right_col {
    width: 33.333333%;

    .events_title {
      font-size: 22px;

      padding-left: 30px;
      margin: 0 0 15px 0;
    }
  }

  &__logo {
    margin: 0 0 35px 30px;
  }
}
