.media {
  padding: 40px;

  &__content {
    display: flex;

    margin-bottom: 40px;
  }

  &__desc_wrapper {
    max-width: 920px;
  }

  &__desc_text {
    margin-bottom: 40px;

    .text-sb,
    .text {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
