.contacts_block {
  font-size: 0;

  width: 100%;
  max-width: 1165px;
  padding: 40px 0 40px 40px;

  .title {
    margin: 0;
  }

  .text {
    &.-title,
    &.-desc {
      margin-bottom: 20px;
    }

    a {
      text-decoration: underline;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;

    width: 33.333333%;
    padding-right: 40px;
    box-sizing: border-box;
  }
}
