.loading {
  display: table;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;

  min-height: 100vh;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.5);

  &__inner {
    text-align: center;

    display: table-cell;
    vertical-align: middle;
  }
}
