@import '../../../../styles/layout/_sprite.less';

.leadership_list {
  list-style: none;

  padding: 0;
  margin: 0;

  &.-horizontal {
    font-size: 0;

    .leadership_list__item {
      display: inline-block;
      vertical-align: top;

      width: 250px;

      &:not(:last-child) {
        margin-right: 20px;
      }

      .img_wrapper {
        width: 100%;
        height: 330px;
        margin-bottom: 10px;
        box-sizing: border-box;

        border: 1px solid #b4b3b8;
      }

      .title {
        margin-bottom: 10px;
      }
    }
  }

  &.-vertical {
    .leadership_list__item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      .img_wrapper {
        flex-shrink: 0;

        border: 1px solid #b4b3b8;
      }

      .text__wrapper {
        padding-left: 20px;
      }

      .title {
        margin-bottom: 25px;
      }
    }
  }

  &__item {
    .img_wrapper {
      position: relative;

      width: 250px;
      height: 330px;

      img {
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      &:after {
        content: '';

        .retina-sprite(@main-logo-bg-group);

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;

        margin-left: -@main-logo-bg-width / 2;
        margin-top: -@main-logo-bg-height / 2;

        opacity: 0.3;
      }
    }
  }
}
