.club_statute {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 40px;
  box-sizing: border-box;

  .title.-section_title {
    width: 100%;
  }

  &__text_block {
    max-width: 920px;

    .text-sb,
    .text:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__links_block {
    text-align: center;

    flex-grow: 1;
  }
}
