@import '../../../../styles/layout/_sprite.less';

.regatta_list {
  list-style: none;

  padding: 40px;
  margin: 0;

  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &.-meaningful:before {
      content: '';

      position: absolute;
      z-index: 2;

      .retina-sprite(@icon-meaningful-group);
    }
  }

  &__item.-event &__item.-series.-meaningful:before {
    bottom: 25px;
    right: 25px;
  }

  &__series {
    font-size: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 540px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  &__cover {
    display: inline-block;
    vertical-align: top;
    flex-shrink: 0;

    width: 350px;
    height: 540px;

    a {
      width: 100%;
      height: 100%;

      color: #fff;
    }

    .img_wrapper {
      width: 100%;
      height: 100%;

      &:after {
        content: '';

        .retina-sprite(@main-logo-bg-group);

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;

        margin-left: -@main-logo-bg-width / 2;
        margin-top: -@main-logo-bg-height / 2;

        opacity: 0.3;
      }
    }

    img {
      position: relative;
      z-index: 1;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__item.-event &__cover {
    margin-right: 25px;

    &.-meaningful:before {
      top: 15px;
      right: 15px;
    }
  }

  &__item.-series &__cover {
    &:not(:last-child) {
      margin-right: 18px;
    }

    &.-meaningful:before {
      bottom: 15px;
      right: 15px;
    }

    a {
      display: block;

      position: relative;

      &:before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 100%;
        height: 100%;

        background-color: #0165c6;
        opacity: 0.5;

        transition: opacity 0.2s ease;
      }

      &:hover:before {
        opacity: 0;
      }
    }
  }

  &__cover_text_block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    padding: 15px;
    box-sizing: border-box;

    .title {
      font-family: 'OpenSans-Light';
      font-size: 38px;
      font-weight: lighter;
      line-height: 50px;

      margin-bottom: 15px;
    }

    .text {
      font-size: 20px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__desc_block {
    .title {
      font-family: 'OpenSans-Light';
      font-size: 38px;
      font-weight: lighter;
      line-height: 50px;
    }

    .date {
      font-size: 38px;
      line-height: 50px;

      margin-bottom: 15px;
    }

    .tags {
      font-size: 20px;
    }
  }

  &__item.-event &__desc_block {
    display: inline-block;
    vertical-align: top;

    max-width: 540px;

    .title {
      margin-top: -13px;
    }

    .tags {
      margin-bottom: 35px;
    }

    .desc {
      margin-bottom: 25px;
    }

    .share_wrapper {
      text-align: right;
    }
  }

  &__item.-series &__desc_block {
    display: flex;

    margin-bottom: 40px;

    .left_col {
      flex-shrink: 0;

      max-width: 450px;
      margin-right: 35px;

      .title {
        margin-top: -9px;
      }
    }

    .right_col .desc {
      margin-bottom: 25px;
    }
  }
}
