.news_month__custom_scrollbar.scrollarea {
  position: relative;

  overflow: hidden;

  .scrollarea-content {
    min-height: 100%;

    border-left: 15px solid #e2e5ee;
  }

  .scrollbar-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 100%;

    .scrollbar {
      width: 15px;

      background: #d0461c;

      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
