@import '../../../../styles/layout/_sprite.less';

.news_month {
  list-style: none;

  min-height: 100%;
  padding: 0;
  margin: 0;

  &__wrapper {
    display: flex;

    width: 100%;
    height: 589px;

    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  &__big_cover {
    flex-grow: 1;

    position: relative;

    height: 100%;
    padding: 0 36px;
    box-sizing: border-box;

    background-color: #eee;
    border-right: 2px solid #fff;

    &:before {
      content: '';

      .retina-sprite(@main-logo-bg-group);

      position: absolute;
      top: 50%;
      left: 50%;

      margin-left: -@main-logo-bg-width / 2;
      margin-top: -@main-logo-bg-height / 2;

      opacity: 0.3;
    }

    .title {
      font-family: 'OpenSans-Light';
      font-size: 62px;
      font-size: 4.8vw;
      line-height: 62px;
      line-height: 4.8vw;
      font-weight: lighter;

      position: absolute;
      top: 15px;
      left: 0;
      z-index: 2;

      width: 100%;
      padding: 0 80px 0 15px;
      box-sizing: border-box;

      color: #fff;

      &.-without_bg {
        color: #000;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;

      object-fit: cover;

      &[src=''] {
        display: none;
      }
    }
  }

  &__item {
    width: 100%;
    height: 118px;
    box-sizing: border-box;

    border-bottom: 1px solid #000;

    &:nth-child(n + 5):last-child {
      border-bottom: none;
    }

    a {
      display: block;

      width: 100%;
      height: 100%;

      color: #000;
    }
  }

  &__cover {
    display: inline-block;
    vertical-align: top;

    position: relative;

    width: 160px;
    height: 100%;

    background-color: #eee;

    &:before {
      content: '';

      .retina-sprite(@main-logo-bg-mini-group);

      position: absolute;
      top: 50%;
      left: 50%;

      margin-left: -@main-logo-bg-mini-width / 2;
      margin-top: -@main-logo-bg-mini-height / 2;

      opacity: 0.5;
    }

    img {
      position: relative;
      z-index: 1;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__text_wrapper {
    display: inline-block;
    vertical-align: top;

    width: 270px;
    height: 100%;
    padding: 5px 20px 0 20px;
    box-sizing: border-box;

    border-bottom: 7px solid #fff;

    overflow: hidden;

    .date {
      float: right;
    }
  }

  &__title {
    margin-bottom: 3px;
  }
}
