.gallery_block {
  font-size: 0;

  display: flex;
  align-items: stretch;

  width: 100%;

  border-top: 2px solid #fff;

  &:last-child {
    border-bottom: 2px solid #fff;
  }

  &__title_wrapper {
    flex-shrink: 0;

    position: relative;

    width: 85px;

    background-color: #e2e5ee;

    .title {
      font-family: 'OpenSans-Light';
      font-size: 30px;
      font-weight: lighter;
      line-height: 85px;
      white-space: nowrap;

      position: absolute;
      bottom: -55px;

      transform: rotate(-90deg);
      transform-origin: top left 0;
    }
  }

  &__viewer {
    flex-shrink: 0;

    position: relative;

    width: 66.666666%;
    padding-bottom: 37.499999625%;

    &_inner {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__items {
    flex-grow: 1;

    font-size: 0;

    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: top;

    position: relative;

    &.-link {
      background-color: #e2e5ee;

      a {
        text-align: center;

        display: table;

        width: 100%;
        height: 100%;
      }

      span {
        font-family: 'OpenSans-Light';
        font-size: 30px;
        line-height: 24px;

        display: table-cell;
        vertical-align: middle;
      }
    }

    &_inner {
      position: relative;

      width: 100%;
      height: 50%;
    }

    img {
      position: absolute;

      width: 100%;
      height: 100%;

      opacity: 1;

      transition: opacity 0.3s ease;

      object-fit: cover;

      &.-hidden {
        opacity: 0;
      }
    }

    &:not(:nth-child(6)):not(:nth-child(7)) {
      height: 20%;
    }

    &:nth-child(6),
    &:nth-child(7) {
      height: 40%;
    }

    &:nth-child(1) {
      width: 37.984496124031%;
    }

    &:nth-child(2) {
      width: 62.015503875969%;
    }

    &:nth-child(3) {
      width: 33.333333%;
    }

    &:nth-child(4) {
      width: 33.333333%;
    }

    &:nth-child(5) {
      width: 33.333333%;
    }

    &:nth-child(6) {
      width: 62.015503875969%;
    }

    &:nth-child(7) {
      width: 37.984496124031%;
    }

    &:nth-child(8) {
      width: 33.333333%;
    }

    &:nth-child(9) {
      width: 33.333333%;
    }

    &:nth-child(10) {
      width: 33.333333%;
    }
  }
}
