.overflow {
  display: table;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;

  visibility: hidden;

  width: 100%;
  height: 100%;

  background-color: rgba(14, 49, 85, 0.6);
  opacity: 0;

  transition: all 0.2s ease;

  &.-visible {
    visibility: visible;

    opacity: 1;
  }

  &__inner {
    text-align: center;

    display: table-cell;
    vertical-align: middle;
  }

  &__content {
    display: inline-block;
  }
}
