@import '../../../../styles/layout/_sprite.less';

.members_list {
  list-style: none;

  padding: 0;
  margin: 0;

  &.-with_avatar {
    font-size: 0;

    .members_list__item {
      display: inline-block;
      vertical-align: top;

      &:not(:last-child) {
        margin-right: 20px;
      }

      .img_wrapper {
        width: 250px;
        height: 330px;
        margin-bottom: 10px;
        box-sizing: border-box;

        border: 1px solid #b4b3b8;
      }

      .title {
        margin-bottom: 10px;
      }
    }
  }

  &.-without_avatar {
    .members_list__item {
      margin-bottom: 5px;
    }
  }

  &__item {
    width: 250px;

    .img_wrapper {
      position: relative;

      width: 100%;
      height: 330px;
      box-sizing: border-box;

      img {
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      &:after {
        content: '';

        .retina-sprite(@main-logo-bg-group);

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;

        margin-left: -@main-logo-bg-width / 2;
        margin-top: -@main-logo-bg-height / 2;

        opacity: 0.3;
      }
    }
  }
}
