.event_series {
  &__years {
    font-size: 0;
    list-style: none;

    padding: 0;
    margin: 0;
  }

  &__year {
    display: inline-block;
    vertical-align: middle;

    position: relative;

    padding: 0 15px 0 16px;

    &:not(:last-child) {
      border-right: 1px solid #fff;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .text {
      font-size: 15px;
      line-height: 16px;

      padding: 0;

      &.-active {
        font-family: 'OpenSans-Bold';
      }
    }

    a {
      color: #fff;
    }
  }

  &__phases_wrapper {
    width: 100%;
    padding: 9px 40px 13px 40px;
    box-sizing: border-box;

    background-color: #e2e5ee;
    border-top: 2px solid #fff;

    .text.-title {
      display: inline-block;
      vertical-align: baseline;

      margin-right: 10px;
    }
  }

  &__phases {
    font-size: 0;
    list-style: none;

    display: inline-block;
    vertical-align: baseline;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  &__phase {
    display: inline-block;
    vertical-align: baseline;

    &:not(:last-child) {
      margin-right: 5px;
    }

    a {
      color: #000;
    }

    .text {
      font-size: 13px;
      line-height: 17px;

      display: inline-block;

      height: 19px;
      padding: 0 10px;
      margin: 0;
      box-sizing: border-box;

      border: 1px solid #fff;
      border-radius: 9px;

      &.-active {
        background-color: #fff;
      }
    }
  }
}
