.club_symbols {
  padding: 40px;

  &__emblem {
    margin-bottom: 75px;
  }

  &__emblem_image,
  &__emblem_text_block {
    display: inline-block;
    vertical-align: top;
  }

  &__emblem_image {
    width: 250px;
    margin-right: 75px;

    img {
      width: 100%;
    }
  }

  &__emblem_text_block {
    width: 410px;

    .title {
      margin-bottom: 20px;
    }
  }
}
