.slideshow {
  position: relative;

  width: 100%;
  padding-bottom: 48%;

  overflow: hidden;

  .slick-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    .slick-track {
      height: 100%;
    }
  }

  &__title {
    font-family: 'OpenSans-Light';
    font-size: 7.6vw;
    font-weight: lighter;
    line-height: 7.6vw;
    text-transform: uppercase;

    position: absolute;

    width: 70vw;
    margin: 0;

    color: #fff;

    &.-top_left {
      top: 40px;
      left: 40px;
    }

    &.-top_right {
      text-align: right;

      top: 40px;
      right: 40px;
    }

    &.-bottom_right {
      text-align: right;

      bottom: 40px;
      right: 40px;
    }

    &.-bottom_left {
      left: 40px;
      bottom: 40px;
    }
  }

  &__slides {
    font-size: 0;
    list-style: none;
    white-space: nowrap;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    padding: 0;
    margin: 0;

    transition: left 0.4s ease;
  }

  &__slide {
    display: inline-block;

    position: relative;

    width: 100vw;
    height: 100%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__bullets {
    list-style: none;
    text-align: center;

    position: absolute;
    top: 50%;
    right: 17px;
    z-index: 1;

    padding: 0;
    margin: 0;

    transform: translateY(-50%);

    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      button {
        font-size: 0;

        width: 8px;
        height: 8px;
        padding: 0;

        background-color: #fff;
        border-radius: 50%;

        cursor: pointer;
      }

      &.slick-active {
        margin: -3px 0 17px 0;

        &:last-child {
          margin-bottom: 0;
        }

        button {
          width: 14px;
          height: 14px;

          background-color: transparent;
          border: 1px solid #fff;
        }
      }
    }
  }
}
