@import '../../../../styles/layout/_sprite.less';

.calendar {
  &__display_switchers {
    font-style: 0;
    list-style: none;

    padding: 0;

    .item {
      display: inline-block;
      vertical-align: middle;

      padding: 0 4px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      input {
        display: none;
      }

      input:checked + label {
        border-color: #fff;
      }
    }
  }

  &__display_switcher {
    font-family: 'OpenSans-SemiBold';
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    display: inline-block;
    vertical-align: middle;

    position: relative;

    width: 42px;
    height: 26px;
    box-sizing: border-box;

    color: #fff;
    border: 1px solid #314396;
    border-radius: 10px;

    cursor: pointer;

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
    }

    &.-posters:before {
      .retina-sprite(@icon-display-posters-group);

      margin-top: -@icon-display-posters-height / 2;
      margin-left: -@icon-display-posters-width / 2;
    }

    &.-list:before {
      .retina-sprite(@icon-display-list-group);

      margin-top: -@icon-display-list-height / 2;
      margin-left: -@icon-display-list-width / 2;
    }
  }
}
