@import '../../../styles/layout/_sprite.less';

.footer {
  font-size: 0;

  display: table;

  width: 100%;

  &__left_col,
  &__right_col {
    display: table-cell;
    vertical-align: top;

    width: 50%;
  }

  &__left_col_content {
    display: flex;
    justify-content: space-between;

    background-color: #262827;

    box-sizing: border-box;
    padding: 35px 40px;

    .social {
      display: table;

      .item {
        display: table-cell;
      }
    }
  }

  &__right_col {
    position: relative;

    background-color: #eee;

    &:after {
      content: '';

      .retina-sprite(@main-logo-bg-group);

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;

      margin-left: -@main-logo-bg-width / 2;
      margin-top: -@main-logo-bg-height / 2;

      opacity: 0.3;
    }
  }

  &__logo {
    margin-right: 40px;

    .retina-sprite(@logo-crown-group);

    &__wrapper {
      border-right: 1px solid #3fbcef;
    }
  }

  &__address {
    padding-left: 40px;
    margin-right: 15px;

    .text {
      font-family: 'OpenSans';
      font-size: 14px;

      margin: 0 0 20px 0;

      color: #fff;

      &:first-child {
        margin-top: -3px;
      }

      &:last-child {
        margin: 0 0 -3px 0;
      }
    }
  }
}
