@import '../../../styles/layout/_sprite.less';

.share {
  font-size: 0;
  list-style: none;

  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;

    position: relative;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
    }

    &.-fb {
      background-color: #3b5a99;

      &:before {
        .retina-sprite(@share-fb-group);

        margin-top: -@share-fb-height / 2;
        margin-left: -@share-fb-width / 2;
      }
    }

    &.-vk {
      background-color: #4e76a2;

      &:before {
        .retina-sprite(@share-vk-group);

        margin-top: -@share-vk-height / 2;
        margin-left: -7px;
      }
    }

    &.-twitter {
      background-color: #5ea9de;

      &:before {
        .retina-sprite(@share-twitter-group);

        margin-top: -@share-twitter-height / 2;
        margin-left: -@share-twitter-width / 2;
      }
    }
  }

  &__button {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
  }
}
