.common_wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

a.-pdf_link {
  font-family: 'OpenSansLight-Italic';
  font-size: 15px;
  text-decoration: underline;

  display: inline-block;

  position: relative;

  &:before {
    content: '';

    display: inline-block;
    vertical-align: middle;

    width: 19px;
    height: 19px;
    margin-right: 5px;

    background-color: #e11802;
    border-radius: 50%;
  }

  &:after {
    content: '';

    .retina-sprite(@icon-pdf-group);

    position: absolute;
    top: 3px;
    left: 2px;
  }
}

.text__section_content {
  font-family: 'OpenSans-Light';
  font-size: 30px;
  line-height: 700px;
  text-align: center;

  margin: 0;
}

.img_wrapper {
  position: relative;

  overflow: hidden;

  background-color: #eee;
}

.page_loader {
  visibility: visible;

  position: fixed;
  z-index: 999999;

  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  opacity: 1;

  transition: all 0.15s ease;

  &.-hidden {
    visibility: hidden;

    opacity: 0;
  }

  &:before {
    content: '';

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;

    width: 100%;
    height: 100vw;

    background-color: rgba(255, 255, 255, 0.87);
  }

  @keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &:after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999999;

    width: 84px;
    height: 84px;
    margin: -37px 0 0 -37px;

    background-image: url('../../images/loader.svg');

    animation: infinite-spinning 0.8s steps(12) infinite;
  }
}

.form {
  &__select,
  &__input,
  &__comment,
  &__button {
    box-sizing: border-box;

    border-radius: 7px;
  }

  &__select,
  &__input,
  &__comment {
    font-family: 'OpenSansLight-Italic';
    font-size: 15px;

    background-color: #fff;
    border: none;
  }

  &__input,
  &__button {
    &.-disabled {
      opacity: 0.6;

      cursor: default;
      cursor: not-allowed;
    }
  }

  &__input {
    line-height: 26px;

    padding: 0 10px;
  }

  &__comment {
    line-height: 20px;

    padding: 5px 10px;
  }

  &__button {
    font-family: 'OpenSans-Semibold';
    font-size: 13px;
    line-height: 22px;

    padding: 0 10px;

    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;

    transition: background-color, 0.2s, ease;

    &:not(.-invert):hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.-invert {
      background-color: #fff;
      color: #005cb9;
    }

    &.-disabled {
      opacity: 0.6;

      cursor: default;
      cursor: not-allowed;
    }
  }
}
