body {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  outline: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}
