/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-display-list-name: 'icon_display_list';
@icon-display-list-x: 320px;
@icon-display-list-y: 149px;
@icon-display-list-offset-x: -320px;
@icon-display-list-offset-y: -149px;
@icon-display-list-width: 20px;
@icon-display-list-height: 11px;
@icon-display-list-total-width: 342px;
@icon-display-list-total-height: 313px;
@icon-display-list-image: '../../images/sprites/sprite.png';
@icon-display-list: 320px 149px -320px -149px 20px 11px 342px 313px
  '../../images/sprites/sprite.png' 'icon_display_list';
@icon-display-posters-name: 'icon_display_posters';
@icon-display-posters-x: 317px;
@icon-display-posters-y: 163px;
@icon-display-posters-offset-x: -317px;
@icon-display-posters-offset-y: -163px;
@icon-display-posters-width: 15px;
@icon-display-posters-height: 15px;
@icon-display-posters-total-width: 342px;
@icon-display-posters-total-height: 313px;
@icon-display-posters-image: '../../images/sprites/sprite.png';
@icon-display-posters: 317px 163px -317px -163px 15px 15px 342px 313px
  '../../images/sprites/sprite.png' 'icon_display_posters';
@icon-meaningful-name: 'icon_meaningful';
@icon-meaningful-x: 222px;
@icon-meaningful-y: 263px;
@icon-meaningful-offset-x: -222px;
@icon-meaningful-offset-y: -263px;
@icon-meaningful-width: 59px;
@icon-meaningful-height: 29px;
@icon-meaningful-total-width: 342px;
@icon-meaningful-total-height: 313px;
@icon-meaningful-image: '../../images/sprites/sprite.png';
@icon-meaningful: 222px 263px -222px -263px 59px 29px 342px 313px
  '../../images/sprites/sprite.png' 'icon_meaningful';
@icon-pdf-name: 'icon_pdf';
@icon-pdf-x: 313px;
@icon-pdf-y: 178px;
@icon-pdf-offset-x: -313px;
@icon-pdf-offset-y: -178px;
@icon-pdf-width: 17px;
@icon-pdf-height: 17px;
@icon-pdf-total-width: 342px;
@icon-pdf-total-height: 313px;
@icon-pdf-image: '../../images/sprites/sprite.png';
@icon-pdf: 313px 178px -313px -178px 17px 17px 342px 313px
  '../../images/sprites/sprite.png' 'icon_pdf';
@icon-play-name: 'icon_play';
@icon-play-x: 150px;
@icon-play-y: 150px;
@icon-play-offset-x: -150px;
@icon-play-offset-y: -150px;
@icon-play-width: 60px;
@icon-play-height: 60px;
@icon-play-total-width: 342px;
@icon-play-total-height: 313px;
@icon-play-image: '../../images/sprites/sprite.png';
@icon-play: 150px 150px -150px -150px 60px 60px 342px 313px
  '../../images/sprites/sprite.png' 'icon_play';
@icon-search-name: 'icon_search';
@icon-search-x: 296px;
@icon-search-y: 178px;
@icon-search-offset-x: -296px;
@icon-search-offset-y: -178px;
@icon-search-width: 17px;
@icon-search-height: 17px;
@icon-search-total-width: 342px;
@icon-search-total-height: 313px;
@icon-search-image: '../../images/sprites/sprite.png';
@icon-search: 296px 178px -296px -178px 17px 17px 342px 313px
  '../../images/sprites/sprite.png' 'icon_search';
@logo-crown-name: 'logo_crown';
@logo-crown-x: 150px;
@logo-crown-y: 210px;
@logo-crown-offset-x: -150px;
@logo-crown-offset-y: -210px;
@logo-crown-width: 56px;
@logo-crown-height: 51px;
@logo-crown-total-width: 342px;
@logo-crown-total-height: 313px;
@logo-crown-image: '../../images/sprites/sprite.png';
@logo-crown: 150px 210px -150px -210px 56px 51px 342px 313px
  '../../images/sprites/sprite.png' 'logo_crown';
@logo-pennant-name: 'logo_pennant';
@logo-pennant-x: 222px;
@logo-pennant-y: 209px;
@logo-pennant-offset-x: -222px;
@logo-pennant-offset-y: -209px;
@logo-pennant-width: 91px;
@logo-pennant-height: 54px;
@logo-pennant-total-width: 342px;
@logo-pennant-total-height: 313px;
@logo-pennant-image: '../../images/sprites/sprite.png';
@logo-pennant: 222px 209px -222px -209px 91px 54px 342px 313px
  '../../images/sprites/sprite.png' 'logo_pennant';
@main-logo-name: 'main_logo';
@main-logo-x: 0px;
@main-logo-y: 0px;
@main-logo-offset-x: 0px;
@main-logo-offset-y: 0px;
@main-logo-width: 222px;
@main-logo-height: 150px;
@main-logo-total-width: 342px;
@main-logo-total-height: 313px;
@main-logo-image: '../../images/sprites/sprite.png';
@main-logo: 0px 0px 0px 0px 222px 150px 342px 313px
  '../../images/sprites/sprite.png' 'main_logo';
@main-logo-bg-name: 'main_logo_bg';
@main-logo-bg-x: 0px;
@main-logo-bg-y: 150px;
@main-logo-bg-offset-x: 0px;
@main-logo-bg-offset-y: -150px;
@main-logo-bg-width: 150px;
@main-logo-bg-height: 163px;
@main-logo-bg-total-width: 342px;
@main-logo-bg-total-height: 313px;
@main-logo-bg-image: '../../images/sprites/sprite.png';
@main-logo-bg: 0px 150px 0px -150px 150px 163px 342px 313px '../../images/sprites/sprite.png'
  'main_logo_bg';
@main-logo-bg-mini-name: 'main_logo_bg_mini';
@main-logo-bg-mini-x: 222px;
@main-logo-bg-mini-y: 129px;
@main-logo-bg-mini-offset-x: -222px;
@main-logo-bg-mini-offset-y: -129px;
@main-logo-bg-mini-width: 74px;
@main-logo-bg-mini-height: 80px;
@main-logo-bg-mini-total-width: 342px;
@main-logo-bg-mini-total-height: 313px;
@main-logo-bg-mini-image: '../../images/sprites/sprite.png';
@main-logo-bg-mini: 222px 129px -222px -129px 74px 80px 342px 313px
  '../../images/sprites/sprite.png' 'main_logo_bg_mini';
@main-logo-form-name: 'main_logo_form';
@main-logo-form-x: 222px;
@main-logo-form-y: 0px;
@main-logo-form-offset-x: -222px;
@main-logo-form-offset-y: 0px;
@main-logo-form-width: 120px;
@main-logo-form-height: 129px;
@main-logo-form-total-width: 342px;
@main-logo-form-total-height: 313px;
@main-logo-form-image: '../../images/sprites/sprite.png';
@main-logo-form: 222px 0px -222px 0px 120px 129px 342px 313px '../../images/sprites/sprite.png'
  'main_logo_form';
@share-fb-name: 'share_fb';
@share-fb-x: 332px;
@share-fb-y: 163px;
@share-fb-offset-x: -332px;
@share-fb-offset-y: -163px;
@share-fb-width: 6px;
@share-fb-height: 12px;
@share-fb-total-width: 342px;
@share-fb-total-height: 313px;
@share-fb-image: '../../images/sprites/sprite.png';
@share-fb: 332px 163px -332px -163px 6px 12px 342px 313px
  '../../images/sprites/sprite.png' 'share_fb';
@share-twitter-name: 'share_twitter';
@share-twitter-x: 330px;
@share-twitter-y: 178px;
@share-twitter-offset-x: -330px;
@share-twitter-offset-y: -178px;
@share-twitter-width: 11px;
@share-twitter-height: 9px;
@share-twitter-total-width: 342px;
@share-twitter-total-height: 313px;
@share-twitter-image: '../../images/sprites/sprite.png';
@share-twitter: 330px 178px -330px -178px 11px 9px 342px 313px
  '../../images/sprites/sprite.png' 'share_twitter';
@share-vk-name: 'share_vk';
@share-vk-x: 296px;
@share-vk-y: 195px;
@share-vk-offset-x: -296px;
@share-vk-offset-y: -195px;
@share-vk-width: 13px;
@share-vk-height: 7px;
@share-vk-total-width: 342px;
@share-vk-total-height: 313px;
@share-vk-image: '../../images/sprites/sprite.png';
@share-vk: 296px 195px -296px -195px 13px 7px 342px 313px
  '../../images/sprites/sprite.png' 'share_vk';
@social-fb-name: 'social_fb';
@social-fb-x: 313px;
@social-fb-y: 209px;
@social-fb-offset-x: -313px;
@social-fb-offset-y: -209px;
@social-fb-width: 11px;
@social-fb-height: 21px;
@social-fb-total-width: 342px;
@social-fb-total-height: 313px;
@social-fb-image: '../../images/sprites/sprite.png';
@social-fb: 313px 209px -313px -209px 11px 21px 342px 313px
  '../../images/sprites/sprite.png' 'social_fb';
@social-instagram-name: 'social_instagram';
@social-instagram-x: 296px;
@social-instagram-y: 129px;
@social-instagram-offset-x: -296px;
@social-instagram-offset-y: -129px;
@social-instagram-width: 20px;
@social-instagram-height: 20px;
@social-instagram-total-width: 342px;
@social-instagram-total-height: 313px;
@social-instagram-image: '../../images/sprites/sprite.png';
@social-instagram: 296px 129px -296px -129px 20px 20px 342px 313px
  '../../images/sprites/sprite.png' 'social_instagram';
@social-twitter-name: 'social_twitter';
@social-twitter-x: 316px;
@social-twitter-y: 129px;
@social-twitter-offset-x: -316px;
@social-twitter-offset-y: -129px;
@social-twitter-width: 21px;
@social-twitter-height: 17px;
@social-twitter-total-width: 342px;
@social-twitter-total-height: 313px;
@social-twitter-image: '../../images/sprites/sprite.png';
@social-twitter: 316px 129px -316px -129px 21px 17px 342px 313px
  '../../images/sprites/sprite.png' 'social_twitter';
@social-vk-name: 'social_vk';
@social-vk-x: 296px;
@social-vk-y: 149px;
@social-vk-offset-x: -296px;
@social-vk-offset-y: -149px;
@social-vk-width: 24px;
@social-vk-height: 14px;
@social-vk-total-width: 342px;
@social-vk-total-height: 313px;
@social-vk-image: '../../images/sprites/sprite.png';
@social-vk: 296px 149px -296px -149px 24px 14px 342px 313px
  '../../images/sprites/sprite.png' 'social_vk';
@social-youtube-name: 'social_youtube';
@social-youtube-x: 296px;
@social-youtube-y: 163px;
@social-youtube-offset-x: -296px;
@social-youtube-offset-y: -163px;
@social-youtube-width: 21px;
@social-youtube-height: 15px;
@social-youtube-total-width: 342px;
@social-youtube-total-height: 313px;
@social-youtube-image: '../../images/sprites/sprite.png';
@social-youtube: 296px 163px -296px -163px 21px 15px 342px 313px
  '../../images/sprites/sprite.png' 'social_youtube';
@icon-display-list-2x-name: 'icon_display_list@2x';
@icon-display-list-2x-x: 640px;
@icon-display-list-2x-y: 298px;
@icon-display-list-2x-offset-x: -640px;
@icon-display-list-2x-offset-y: -298px;
@icon-display-list-2x-width: 40px;
@icon-display-list-2x-height: 22px;
@icon-display-list-2x-total-width: 684px;
@icon-display-list-2x-total-height: 626px;
@icon-display-list-2x-image: '../../images/sprites/sprite@2x.png';
@icon-display-list-2x: 640px 298px -640px -298px 40px 22px 684px 626px
  '../../images/sprites/sprite@2x.png' 'icon_display_list@2x';
@icon-display-posters-2x-name: 'icon_display_posters@2x';
@icon-display-posters-2x-x: 634px;
@icon-display-posters-2x-y: 326px;
@icon-display-posters-2x-offset-x: -634px;
@icon-display-posters-2x-offset-y: -326px;
@icon-display-posters-2x-width: 30px;
@icon-display-posters-2x-height: 30px;
@icon-display-posters-2x-total-width: 684px;
@icon-display-posters-2x-total-height: 626px;
@icon-display-posters-2x-image: '../../images/sprites/sprite@2x.png';
@icon-display-posters-2x: 634px 326px -634px -326px 30px 30px 684px 626px
  '../../images/sprites/sprite@2x.png' 'icon_display_posters@2x';
@icon-meaningful-2x-name: 'icon_meaningful@2x';
@icon-meaningful-2x-x: 444px;
@icon-meaningful-2x-y: 526px;
@icon-meaningful-2x-offset-x: -444px;
@icon-meaningful-2x-offset-y: -526px;
@icon-meaningful-2x-width: 118px;
@icon-meaningful-2x-height: 58px;
@icon-meaningful-2x-total-width: 684px;
@icon-meaningful-2x-total-height: 626px;
@icon-meaningful-2x-image: '../../images/sprites/sprite@2x.png';
@icon-meaningful-2x: 444px 526px -444px -526px 118px 58px 684px 626px
  '../../images/sprites/sprite@2x.png' 'icon_meaningful@2x';
@icon-pdf-2x-name: 'icon_pdf@2x';
@icon-pdf-2x-x: 626px;
@icon-pdf-2x-y: 356px;
@icon-pdf-2x-offset-x: -626px;
@icon-pdf-2x-offset-y: -356px;
@icon-pdf-2x-width: 34px;
@icon-pdf-2x-height: 34px;
@icon-pdf-2x-total-width: 684px;
@icon-pdf-2x-total-height: 626px;
@icon-pdf-2x-image: '../../images/sprites/sprite@2x.png';
@icon-pdf-2x: 626px 356px -626px -356px 34px 34px 684px 626px
  '../../images/sprites/sprite@2x.png' 'icon_pdf@2x';
@icon-play-2x-name: 'icon_play@2x';
@icon-play-2x-x: 300px;
@icon-play-2x-y: 300px;
@icon-play-2x-offset-x: -300px;
@icon-play-2x-offset-y: -300px;
@icon-play-2x-width: 120px;
@icon-play-2x-height: 120px;
@icon-play-2x-total-width: 684px;
@icon-play-2x-total-height: 626px;
@icon-play-2x-image: '../../images/sprites/sprite@2x.png';
@icon-play-2x: 300px 300px -300px -300px 120px 120px 684px 626px
  '../../images/sprites/sprite@2x.png' 'icon_play@2x';
@icon-search-2x-name: 'icon_search@2x';
@icon-search-2x-x: 592px;
@icon-search-2x-y: 356px;
@icon-search-2x-offset-x: -592px;
@icon-search-2x-offset-y: -356px;
@icon-search-2x-width: 34px;
@icon-search-2x-height: 34px;
@icon-search-2x-total-width: 684px;
@icon-search-2x-total-height: 626px;
@icon-search-2x-image: '../../images/sprites/sprite@2x.png';
@icon-search-2x: 592px 356px -592px -356px 34px 34px 684px 626px
  '../../images/sprites/sprite@2x.png' 'icon_search@2x';
@logo-crown-2x-name: 'logo_crown@2x';
@logo-crown-2x-x: 300px;
@logo-crown-2x-y: 420px;
@logo-crown-2x-offset-x: -300px;
@logo-crown-2x-offset-y: -420px;
@logo-crown-2x-width: 112px;
@logo-crown-2x-height: 102px;
@logo-crown-2x-total-width: 684px;
@logo-crown-2x-total-height: 626px;
@logo-crown-2x-image: '../../images/sprites/sprite@2x.png';
@logo-crown-2x: 300px 420px -300px -420px 112px 102px 684px 626px
  '../../images/sprites/sprite@2x.png' 'logo_crown@2x';
@logo-pennant-2x-name: 'logo_pennant@2x';
@logo-pennant-2x-x: 444px;
@logo-pennant-2x-y: 418px;
@logo-pennant-2x-offset-x: -444px;
@logo-pennant-2x-offset-y: -418px;
@logo-pennant-2x-width: 182px;
@logo-pennant-2x-height: 108px;
@logo-pennant-2x-total-width: 684px;
@logo-pennant-2x-total-height: 626px;
@logo-pennant-2x-image: '../../images/sprites/sprite@2x.png';
@logo-pennant-2x: 444px 418px -444px -418px 182px 108px 684px 626px
  '../../images/sprites/sprite@2x.png' 'logo_pennant@2x';
@main-logo-2x-name: 'main_logo@2x';
@main-logo-2x-x: 0px;
@main-logo-2x-y: 0px;
@main-logo-2x-offset-x: 0px;
@main-logo-2x-offset-y: 0px;
@main-logo-2x-width: 444px;
@main-logo-2x-height: 300px;
@main-logo-2x-total-width: 684px;
@main-logo-2x-total-height: 626px;
@main-logo-2x-image: '../../images/sprites/sprite@2x.png';
@main-logo-2x: 0px 0px 0px 0px 444px 300px 684px 626px
  '../../images/sprites/sprite@2x.png' 'main_logo@2x';
@main-logo-bg-2x-name: 'main_logo_bg@2x';
@main-logo-bg-2x-x: 0px;
@main-logo-bg-2x-y: 300px;
@main-logo-bg-2x-offset-x: 0px;
@main-logo-bg-2x-offset-y: -300px;
@main-logo-bg-2x-width: 300px;
@main-logo-bg-2x-height: 326px;
@main-logo-bg-2x-total-width: 684px;
@main-logo-bg-2x-total-height: 626px;
@main-logo-bg-2x-image: '../../images/sprites/sprite@2x.png';
@main-logo-bg-2x: 0px 300px 0px -300px 300px 326px 684px 626px '../../images/sprites/sprite@2x.png'
  'main_logo_bg@2x';
@main-logo-bg-mini-2x-name: 'main_logo_bg_mini@2x';
@main-logo-bg-mini-2x-x: 444px;
@main-logo-bg-mini-2x-y: 258px;
@main-logo-bg-mini-2x-offset-x: -444px;
@main-logo-bg-mini-2x-offset-y: -258px;
@main-logo-bg-mini-2x-width: 148px;
@main-logo-bg-mini-2x-height: 160px;
@main-logo-bg-mini-2x-total-width: 684px;
@main-logo-bg-mini-2x-total-height: 626px;
@main-logo-bg-mini-2x-image: '../../images/sprites/sprite@2x.png';
@main-logo-bg-mini-2x: 444px 258px -444px -258px 148px 160px 684px 626px
  '../../images/sprites/sprite@2x.png' 'main_logo_bg_mini@2x';
@main-logo-form-2x-name: 'main_logo_form@2x';
@main-logo-form-2x-x: 444px;
@main-logo-form-2x-y: 0px;
@main-logo-form-2x-offset-x: -444px;
@main-logo-form-2x-offset-y: 0px;
@main-logo-form-2x-width: 240px;
@main-logo-form-2x-height: 258px;
@main-logo-form-2x-total-width: 684px;
@main-logo-form-2x-total-height: 626px;
@main-logo-form-2x-image: '../../images/sprites/sprite@2x.png';
@main-logo-form-2x: 444px 0px -444px 0px 240px 258px 684px 626px '../../images/sprites/sprite@2x.png'
  'main_logo_form@2x';
@share-fb-2x-name: 'share_fb@2x';
@share-fb-2x-x: 664px;
@share-fb-2x-y: 326px;
@share-fb-2x-offset-x: -664px;
@share-fb-2x-offset-y: -326px;
@share-fb-2x-width: 12px;
@share-fb-2x-height: 24px;
@share-fb-2x-total-width: 684px;
@share-fb-2x-total-height: 626px;
@share-fb-2x-image: '../../images/sprites/sprite@2x.png';
@share-fb-2x: 664px 326px -664px -326px 12px 24px 684px 626px
  '../../images/sprites/sprite@2x.png' 'share_fb@2x';
@share-twitter-2x-name: 'share_twitter@2x';
@share-twitter-2x-x: 660px;
@share-twitter-2x-y: 356px;
@share-twitter-2x-offset-x: -660px;
@share-twitter-2x-offset-y: -356px;
@share-twitter-2x-width: 22px;
@share-twitter-2x-height: 18px;
@share-twitter-2x-total-width: 684px;
@share-twitter-2x-total-height: 626px;
@share-twitter-2x-image: '../../images/sprites/sprite@2x.png';
@share-twitter-2x: 660px 356px -660px -356px 22px 18px 684px 626px
  '../../images/sprites/sprite@2x.png' 'share_twitter@2x';
@share-vk-2x-name: 'share_vk@2x';
@share-vk-2x-x: 592px;
@share-vk-2x-y: 390px;
@share-vk-2x-offset-x: -592px;
@share-vk-2x-offset-y: -390px;
@share-vk-2x-width: 26px;
@share-vk-2x-height: 14px;
@share-vk-2x-total-width: 684px;
@share-vk-2x-total-height: 626px;
@share-vk-2x-image: '../../images/sprites/sprite@2x.png';
@share-vk-2x: 592px 390px -592px -390px 26px 14px 684px 626px
  '../../images/sprites/sprite@2x.png' 'share_vk@2x';
@social-fb-2x-name: 'social_fb@2x';
@social-fb-2x-x: 626px;
@social-fb-2x-y: 418px;
@social-fb-2x-offset-x: -626px;
@social-fb-2x-offset-y: -418px;
@social-fb-2x-width: 22px;
@social-fb-2x-height: 42px;
@social-fb-2x-total-width: 684px;
@social-fb-2x-total-height: 626px;
@social-fb-2x-image: '../../images/sprites/sprite@2x.png';
@social-fb-2x: 626px 418px -626px -418px 22px 42px 684px 626px
  '../../images/sprites/sprite@2x.png' 'social_fb@2x';
@social-instagram-2x-name: 'social_instagram@2x';
@social-instagram-2x-x: 592px;
@social-instagram-2x-y: 258px;
@social-instagram-2x-offset-x: -592px;
@social-instagram-2x-offset-y: -258px;
@social-instagram-2x-width: 40px;
@social-instagram-2x-height: 40px;
@social-instagram-2x-total-width: 684px;
@social-instagram-2x-total-height: 626px;
@social-instagram-2x-image: '../../images/sprites/sprite@2x.png';
@social-instagram-2x: 592px 258px -592px -258px 40px 40px 684px 626px
  '../../images/sprites/sprite@2x.png' 'social_instagram@2x';
@social-twitter-2x-name: 'social_twitter@2x';
@social-twitter-2x-x: 632px;
@social-twitter-2x-y: 258px;
@social-twitter-2x-offset-x: -632px;
@social-twitter-2x-offset-y: -258px;
@social-twitter-2x-width: 42px;
@social-twitter-2x-height: 34px;
@social-twitter-2x-total-width: 684px;
@social-twitter-2x-total-height: 626px;
@social-twitter-2x-image: '../../images/sprites/sprite@2x.png';
@social-twitter-2x: 632px 258px -632px -258px 42px 34px 684px 626px
  '../../images/sprites/sprite@2x.png' 'social_twitter@2x';
@social-vk-2x-name: 'social_vk@2x';
@social-vk-2x-x: 592px;
@social-vk-2x-y: 298px;
@social-vk-2x-offset-x: -592px;
@social-vk-2x-offset-y: -298px;
@social-vk-2x-width: 48px;
@social-vk-2x-height: 28px;
@social-vk-2x-total-width: 684px;
@social-vk-2x-total-height: 626px;
@social-vk-2x-image: '../../images/sprites/sprite@2x.png';
@social-vk-2x: 592px 298px -592px -298px 48px 28px 684px 626px
  '../../images/sprites/sprite@2x.png' 'social_vk@2x';
@social-youtube-2x-name: 'social_youtube@2x';
@social-youtube-2x-x: 592px;
@social-youtube-2x-y: 326px;
@social-youtube-2x-offset-x: -592px;
@social-youtube-2x-offset-y: -326px;
@social-youtube-2x-width: 42px;
@social-youtube-2x-height: 30px;
@social-youtube-2x-total-width: 684px;
@social-youtube-2x-total-height: 626px;
@social-youtube-2x-image: '../../images/sprites/sprite@2x.png';
@social-youtube-2x: 592px 326px -592px -326px 42px 30px 684px 626px
  '../../images/sprites/sprite@2x.png' 'social_youtube@2x';
@spritesheet-width: 342px;
@spritesheet-height: 313px;
@spritesheet-image: '../../images/sprites/sprite.png';
@spritesheet-sprites: @icon-display-list @icon-display-posters @icon-meaningful
  @icon-pdf @icon-play @icon-search @logo-crown @logo-pennant @main-logo
  @main-logo-bg @main-logo-bg-mini @main-logo-form @share-fb @share-twitter
  @share-vk @social-fb @social-instagram @social-twitter @social-vk
  @social-youtube;
@spritesheet: 342px 313px '../../images/sprites/sprite.png' @spritesheet-sprites;
@retina-spritesheet-width: 684px;
@retina-spritesheet-height: 626px;
@retina-spritesheet-image: '../../images/sprites/sprite@2x.png';
@retina-spritesheet-sprites: @icon-display-list-2x @icon-display-posters-2x
  @icon-meaningful-2x @icon-pdf-2x @icon-play-2x @icon-search-2x @logo-crown-2x
  @logo-pennant-2x @main-logo-2x @main-logo-bg-2x @main-logo-bg-mini-2x
  @main-logo-form-2x @share-fb-2x @share-twitter-2x @share-vk-2x @social-fb-2x
  @social-instagram-2x @social-twitter-2x @social-vk-2x @social-youtube-2x;
@retina-spritesheet: 684px 626px '../../images/sprites/sprite@2x.png'
  @retina-spritesheet-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@icon-display-list-group-name: 'icon_display_list';
@icon-display-list-group: 'icon_display_list' @icon-display-list
  @icon-display-list-2x;
@icon-display-posters-group-name: 'icon_display_posters';
@icon-display-posters-group: 'icon_display_posters' @icon-display-posters
  @icon-display-posters-2x;
@icon-meaningful-group-name: 'icon_meaningful';
@icon-meaningful-group: 'icon_meaningful' @icon-meaningful @icon-meaningful-2x;
@icon-pdf-group-name: 'icon_pdf';
@icon-pdf-group: 'icon_pdf' @icon-pdf @icon-pdf-2x;
@icon-play-group-name: 'icon_play';
@icon-play-group: 'icon_play' @icon-play @icon-play-2x;
@icon-search-group-name: 'icon_search';
@icon-search-group: 'icon_search' @icon-search @icon-search-2x;
@logo-crown-group-name: 'logo_crown';
@logo-crown-group: 'logo_crown' @logo-crown @logo-crown-2x;
@logo-pennant-group-name: 'logo_pennant';
@logo-pennant-group: 'logo_pennant' @logo-pennant @logo-pennant-2x;
@main-logo-group-name: 'main_logo';
@main-logo-group: 'main_logo' @main-logo @main-logo-2x;
@main-logo-bg-group-name: 'main_logo_bg';
@main-logo-bg-group: 'main_logo_bg' @main-logo-bg @main-logo-bg-2x;
@main-logo-bg-mini-group-name: 'main_logo_bg_mini';
@main-logo-bg-mini-group: 'main_logo_bg_mini' @main-logo-bg-mini
  @main-logo-bg-mini-2x;
@main-logo-form-group-name: 'main_logo_form';
@main-logo-form-group: 'main_logo_form' @main-logo-form @main-logo-form-2x;
@share-fb-group-name: 'share_fb';
@share-fb-group: 'share_fb' @share-fb @share-fb-2x;
@share-twitter-group-name: 'share_twitter';
@share-twitter-group: 'share_twitter' @share-twitter @share-twitter-2x;
@share-vk-group-name: 'share_vk';
@share-vk-group: 'share_vk' @share-vk @share-vk-2x;
@social-fb-group-name: 'social_fb';
@social-fb-group: 'social_fb' @social-fb @social-fb-2x;
@social-instagram-group-name: 'social_instagram';
@social-instagram-group: 'social_instagram' @social-instagram
  @social-instagram-2x;
@social-twitter-group-name: 'social_twitter';
@social-twitter-group: 'social_twitter' @social-twitter @social-twitter-2x;
@social-vk-group-name: 'social_vk';
@social-vk-group: 'social_vk' @social-vk @social-vk-2x;
@social-youtube-group-name: 'social_youtube';
@social-youtube-group: 'social_youtube' @social-youtube @social-youtube-2x;
@retina-groups: @icon-display-list-group @icon-display-posters-group
  @icon-meaningful-group @icon-pdf-group @icon-play-group @icon-search-group
  @logo-crown-group @logo-pennant-group @main-logo-group @main-logo-bg-group
  @main-logo-bg-mini-group @main-logo-form-group @share-fb-group
  @share-twitter-group @share-vk-group @social-fb-group @social-instagram-group
  @social-twitter-group @social-vk-group @social-youtube-group;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}
/* prettier-ignore */
.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`; 
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
.sprite-background-size(@sprite) {
  @sprite-total-width: extract(@sprite, 7);
  @sprite-total-height: extract(@sprite, 8);
  background-size: @sprite-total-width @sprite-total-height;
}

.retina-sprite(@retina-group) {
  @normal-sprite: extract(@retina-group, 2);
  @retina-sprite: extract(@retina-group, 3);
  .sprite(@normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .sprite-image(@retina-sprite);
    .sprite-background-size(@normal-sprite);
  }
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}

/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.retina-sprites(@retina-groups, @i: 1) when (@i <= length(@retina-groups)) {
  @retina-group: extract(@retina-groups, @i);
  @sprite-name: e(extract(@retina-group, 1));
  .@{sprite-name} {
    .retina-sprite(@retina-group);
  }
  .retina-sprites(@retina-groups, @i + 1);
}
