.calendar_filters {
  width: 100%;
  padding: 15px 0 15px 40px;
  box-sizing: border-box;

  background-color: #e2e5ee;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  &__list {
    list-style: none;

    position: relative;

    padding-left: 85px;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &:before {
      content: attr(title);

      font-family: 'OpenSans-Light';
      font-size: 15px;
      line-height: 16px;

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: middle;

    margin-bottom: 6px;

    &:not(:last-child) {
      margin-right: 8px;
    }

    input {
      display: none;
    }

    label {
      font-family: 'OpenSans-Semibold';
      font-size: 13px;
      line-height: 17px;

      display: inline-block;

      height: 19px;
      padding: 0 10px;
      margin: 0;
      box-sizing: border-box;

      border: 1px solid #fff;
      border-radius: 9px;

      cursor: pointer;
    }

    input:disabled + label {
      color: #555;
      opacity: 0.5;

      cursor: default;
    }

    input:not(:checked):not(:disabled) + label:hover {
      background-color: #e8eaf3;
    }

    input:checked + label {
      background-color: #fff;

      cursor: default;
    }
  }

  &__item.-reset {
    label {
      vertical-align: middle;

      position: relative;

      width: 19px;
      height: 19px;
      padding: 0;

      &:before,
      &:after {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;

        height: 11px;
        margin: -6px 0 0 -1px;

        border-left: 1px solid #000;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
