.calendar_years {
  &__item {
    input {
      display: none;
    }

    label {
      cursor: pointer;
    }

    input:checked + label {
      font-family: 'OpenSans-Bold';

      cursor: default;
    }
  }
}
