.event {
  &__info {
    display: flex;

    padding: 35px 40px 95px 40px;

    .share {
      flex-shrink: 0;
    }
  }

  &__desc {
    flex-grow: 1;

    padding: 0 50px 0 25px;

    .title {
      margin: -3px 0 15px 0;
    }

    .brief p {
      font-family: 'OpenSans-Semibold';
      font-size: 15px;
      font-weight: normal;

      margin: 0 0 25px 0;
    }

    .extended p {
      font-family: 'OpenSans-Light';
      font-size: 15px;
      font-weight: normal;

      margin: 0 0 25px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__links {
    flex-shrink: 0;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__site_link {
    margin-bottom: 15px;
  }

  &__accreditation_link {
    margin-bottom: 35px;
  }

  &__additional {
    position: relative;

    width: 100%;
    padding: 50px 343px 75px 133px;
    box-sizing: border-box;

    #results {
      position: absolute;
      top: -90px;
    }
  }
}

.content_header__item {
  a {
    color: #fff;
  }

  .text.-disable {
    opacity: 0.5;
  }
}
