@import '../../../styles/layout/_sprite.less';

.club {
  padding: 40px;

  &__content {
    display: flex;

    margin-bottom: 40px;
  }

  &__desc_wrapper {
    max-width: 920px;
  }

  &__desc_text {
    margin-bottom: 40px;

    .text-sb,
    .text {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__welcome {
    display: flex;

    .img_wrapper {
      flex-shrink: 0;

      width: 145px;
      height: auto;
      margin-right: 30px;

      background-color: transparent;

      img {
        width: 100%;
      }
    }

    .text-sb,
    .text {
      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
  }

  &__logo {
    text-align: center;

    flex-grow: 1;

    .image {
      display: inline-block;

      .retina-sprite(@main-logo-bg-group);
    }
  }
}
