.content_header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 42px;
  padding-left: 40px;
  box-sizing: border-box;

  background-color: #005cb9;

  &.-event {
    position: absolute;
    bottom: 0;
  }

  &__item {
    position: relative;

    padding: 0 16px 0 15px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child):after {
      content: '';

      position: absolute;
      top: 50%;
      right: 0;

      height: 22px;
      margin-top: -11px;

      border-left: 1px solid #fff;
    }
  }

  a {
    color: #fff;
  }

  .text {
    font-family: 'OpenSans-Light';
    font-size: 22px;

    padding-bottom: 4px;

    color: #fff;
  }

  .text_list {
    font-size: 0;
    list-style: none;

    padding: 0;

    .item {
      font-family: 'OpenSans-Light';
      font-size: 15px;

      display: inline-block;

      position: relative;

      padding: 0 14px 2px 13px;

      color: #fff;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:not(:last-child):after {
        content: '';

        position: absolute;
        top: 50%;
        right: 0;

        height: 16px;
        margin-top: -8px;

        border-left: 1px solid #fff;
      }
    }
  }
}
