.main__partners {
  font-size: 0;
  list-style: none;
  text-align: center;

  padding: 0;
  margin: 0;

  &_wrapper {
    padding: 40px 40px 0 40px;
  }

  &_item {
    display: inline-block;
    vertical-align: middle;

    margin-bottom: 15px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
