@import './header_subnav.less';

.header_nav {
  list-style: none;

  height: 100%;
  padding: 0 20px;
  margin: 0 25px 0 0;

  &:after {
    content: '';

    position: absolute;
    top: 100%;
    left: 0;

    visibility: hidden;

    width: 100vw;
    height: 206px;
    margin-top: 1px;

    background-color: #fff;
    border-bottom: 1px solid #365598;
    opacity: 0;

    z-index: -1;

    transition: opacity 0.2s ease;
  }

  &.-subnavitems {
    &_1:after {
      height: 81px;
    }

    &_2:after {
      height: 112px;
    }

    &_3:after {
      height: 143px;
    }

    &_4:after {
      height: 174px;
    }

    &_5:after {
      height: 205px;
    }

    &_6:after {
      height: 236px;
    }

    &_7:after {
      height: 267px;
    }

    &_8:after {
      height: 298px;
    }

    &_9:after {
      height: 329px;
    }

    &_10:after {
      height: 360px;
    }
  }

  &.-opened_subnav {
    &:after {
      visibility: visible;

      opacity: 1;
    }
  }

  &__item {
    font-family: 'OpenSans-Light';
    font-size: 15px;
    line-height: 90px;
    text-align: center;

    display: inline-block;

    position: relative;

    margin: 0 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    & > a {
      display: block;

      color: #000;

      &:before {
        content: attr(title);

        font-family: 'OpenSans-Semibold';

        display: block;
        visibility: hidden;

        height: 1px;
        overflow: hidden;

        color: transparent;
      }

      &:not(.-active):hover {
        color: #005bb8;
      }

      &.-active {
        font-family: 'OpenSans-Semibold';
      }
    }
  }
}
