.header_nav__subnav {
  list-style: none;

  position: absolute;
  top: 100%;

  visibility: hidden;

  padding: 25px 0 0 0;
  margin: 0;

  opacity: 0;

  transition: all 0.2s ease;

  .header_nav.-opened_subnav & {
    visibility: visible;

    opacity: 1;
  }

  &.-align_left {
    text-align: left;

    left: 0;
  }

  &.-align_right {
    text-align: right;

    right: 0;
  }

  &_item {
    font-family: 'OpenSans-Light';
    font-size: 15px;
    white-space: nowrap;

    & > a {
      line-height: 30px;

      display: block;

      color: #000;

      &:after {
        content: attr(title);

        font-family: 'OpenSans-Semibold';

        display: block;
        visibility: hidden;

        height: 1px;
        overflow: hidden;

        color: transparent;
      }

      &:not(.-active):hover {
        color: #005bb8;
      }

      &.-active {
        font-family: 'OpenSans-Semibold';

        pointer-events: none;
        cursor: default;
      }

      &.-disabled {
        opacity: 0.4;

        pointer-events: none;
      }
    }
  }
}
