@import '../../../../styles/layout/_sprite.less';

.header_search {
  &__submit {
    display: inline-block;
    vertical-align: middle;

    margin-right: 10px;

    .retina-sprite(@icon-search-group);
  }

  &__input {
    font-family: 'OpenSansLight-Italic';
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;

    width: 140px;

    border: none;
  }
}
