.contacts {
  font-size: 0;

  width: 100%;
  max-width: 1165px;
  padding: 40px 0 40px 40px;

  & + .contacts_block {
    padding-top: 0;
  }

  .title {
    margin-bottom: 30px;

    &.contacts_block {
      margin-top: 40px;
    }
  }

  .text {
    &.contact_title,
    &.contact_desc {
      margin-bottom: 20px;
    }

    a {
      text-decoration: underline;
    }
  }

  .contacts__address,
  .contacts__route {
    display: inline-block;
    vertical-align: top;

    padding-right: 40px;
    box-sizing: border-box;
  }

  .contacts__address {
    width: 33.333333%;
  }

  .contacts__route {
    width: 66.666666%;
  }
}
