@import '../../../styles/layout/_sprite.less';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  position: fixed;
  top: 0;
  z-index: 99999;

  width: 100%;
  min-height: 90px;

  background-color: #fff;
  border-bottom: 1px solid #365598;

  & + .page_content {
    padding-top: 191px;

    transition: padding-top 0.3s ease 0.1s;
  }

  &.-compact {
    & + .page_content {
      padding-top: 91px;
    }

    .header {
      &__big_logo {
        opacity: 0;
      }

      &__full_block {
        height: 0;

        .social {
          opacity: 0;
        }
      }

      &__logo_wrapper {
        visibility: visible;

        opacity: 1;
      }
    }
  }

  &__full_block {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 170px;
    padding: 0 60px 0 40px;
    margin-bottom: -70px;
    overflow: hidden;

    transition: height 0.3s ease 0.1s;

    .social {
      margin-top: 20px;

      opacity: 1;

      transition: opacity 0.1s ease 0;
    }
  }

  &__big_logo {
    .retina-sprite(@main-logo-group);

    margin-top: 20px;

    opacity: 1;

    transition: opacity 0.2s ease 0;
  }

  &__logo {
    .retina-sprite(@logo-pennant-group);

    &_wrapper {
      flex-grow: 1;

      visibility: hidden;

      padding-left: 40px;

      opacity: 0;

      transition: opacity 0.2s ease 0.3s;

      a {
        display: inline-block;
      }
    }
  }

  &__localization {
    font-size: 0;
    list-style: none;

    padding: 0;
    margin: 0 35px 0 0;

    &_item {
      font-family: 'OpenSans-Light';
      font-size: 15px;

      display: inline-block;
      vertical-align: middle;

      position: relative;

      padding: 0 9px 0 8px;

      &.-active {
        font-family: 'OpenSans-Bold';
      }

      &:not(:last-child):after {
        content: '';

        position: absolute;
        top: 50%;
        right: -1px;

        height: 16px;
        margin-top: -7px;

        border-right: 1px solid #8d8d8d;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        color: #000;

        &:after {
          content: attr(title);

          font-family: 'OpenSans-Semibold';

          display: block;
          visibility: hidden;

          height: 1px;
          overflow: hidden;

          color: transparent;
        }

        &:not(.-active):hover {
          color: #005bb8;
        }

        &.-active {
          font-family: 'OpenSans-Semibold';

          pointer-events: none;
          cursor: default;
        }
      }
    }
  }
}
