.popup {
  position: relative;

  padding: 20px;

  background-color: #005cb9;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 19px;
    height: 19px;
    padding: 0;

    border: 1px solid #fff;
    border-radius: 50%;

    transition: background-color 0.1s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:before,
    &:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      height: 11px;
      margin: -6px 0 0 0;

      border-left: 1px solid #fff;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}
