.page_content {
  flex-grow: 1;

  min-height: 100vh;
  box-sizing: border-box;

  &:empty {
    min-height: 100vh;
    box-sizing: border-box;
  }

  &.-event {
    position: relative;

    padding-bottom: 42px;
  }

  &.-loading {
    &:before {
      content: '';

      position: fixed;
      top: 0;
      left: 0;
      z-index: 999999;

      width: 100%;
      height: 100vw;

      background-color: rgba(255, 255, 255, 0.87);
    }

    @keyframes infinite-spinning {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    &:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 9999999;

      width: 84px;
      height: 84px;
      margin: -37px 0 0 -37px;

      background-image: url('../../../images/loader.svg');

      animation: infinite-spinning 0.8s steps(12) infinite;
    }
  }
}
