@import '../../../../styles/layout/_sprite.less';

.custom_page_people {
  font-size: 0;
  list-style: none;

  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;
    vertical-align: top;

    width: 254px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    .img_wrapper {
      position: relative;

      width: 100%;
      height: 333px;
      margin-bottom: 5px;
      box-sizing: border-box;

      border: 1px solid #b4b3b8;

      &:after {
        content: '';

        .retina-sprite(@main-logo-bg-group);

        position: absolute;
        top: 50%;
        left: 50%;

        margin-left: -@main-logo-bg-width / 2;
        margin-top: -@main-logo-bg-height / 2;

        opacity: 0.3;
      }

      img {
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .name {
      margin-bottom: 10px;
    }

    .role {
      margin-bottom: 15px;
    }
  }
}
