.club_partners {
  &__list {
    list-style: none;

    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__logo {
    &_wrapper {
      display: table;
      width: 194px;
      height: 194px;
      margin-right: 35px;
      box-sizing: border-box;

      border: 1px solid #acabb0;
    }

    &_inner {
      text-align: center;

      display: table-cell;
      vertical-align: middle;

      img {
        display: inline-block;

        max-width: 100%;
      }
    }
  }

  &__text_block {
    max-width: 700px;

    .title {
      margin-bottom: 20px;
    }
  }
}
