.calendar {
  width: 100%;
  padding-bottom: 49px;

  background-color: #fff;

  &__week {
    font-size: 0;
    list-style: none;

    width: 100%;
    padding: 0;
    margin: 0;

    &_day {
      line-height: 48px;
      text-align: center;

      display: inline-block;

      width: 14.285714285714286%;
    }
  }

  &__month {
    font-size: 0;
    list-style: none;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
  }

  &__month_day {
    display: inline-block;

    position: relative;

    width: 14.285714285714286%;
    padding-top: 14.285714285714286%;
    box-sizing: border-box;

    background-color: #eee;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;

    &.-prev_next_month {
      background-color: #e2e5ee;
    }

    &.-today:before {
      content: '';

      position: absolute;
      top: -2px;
      left: -2px;

      width: 100%;
      height: 100%;

      border: 2px solid #005cb9;
    }

    & > a {
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      color: #000;
    }

    .date_num {
      font-family: 'OpenSans-Light';
      font-size: 22px;

      position: absolute;
      right: 20px;
      bottom: 15px;
      z-index: 1;
    }

    &.-active:not(.-line_level_2):not(.-line_level_3) {
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #f0f1ea;
      }

      a .date_num {
        color: #fff;
      }

      .date_num {
        font-family: 'OpenSans-Bold';
        color: #fff;
      }
    }

    &.-line_level {
      &_2 .calendar__lines {
        padding-bottom: 45px;
      }

      &_3 .calendar__lines {
        padding-bottom: 77px;
      }
    }
  }

  &__day_inner {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
  }

  &__titles {
    list-style: none;

    display: inline-block;

    width: 100%;
    padding-left: 3.77358491%;
    margin: 0 0 20px 0;
  }

  &__titles_item {
    position: relative;

    width: 100%;
    padding-right: 22.6415094339623%;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .point {
      position: absolute;
      top: 50%;
      right: 6.1320754716981%;

      width: 24px;
      height: 24px;
      margin-top: -12px;

      border-radius: 50%;
    }

    a {
      display: inline-block;

      color: #000;
    }
  }

  &__lines {
    list-style: none;

    display: inline-block;

    position: relative;
    z-index: 0;

    width: 100%;
    padding: 0 0 13px 0;
    margin: 0;
  }

  &__lines_item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 2px;
    }

    .line {
      display: inline-block;

      width: 100%;
      height: 30px;

      background-color: inherit;
    }

    &.-start:not(.-end) {
      text-align: right;

      .line {
        width: 96.2264150943396%;

        border-radius: 10px 0 0 10px;
      }
    }

    &.-end:not(.-start) .line {
      width: 96.2264150943396%;

      border-radius: 0 10px 10px 0;
    }

    &.-start.-end {
      text-align: center;

      .line {
        width: 92.4528301886792%;

        border-radius: 10px;
      }
    }
  }
}
