@import '../../../styles/layout/_sprite.less';

.social {
  font-size: 0;
  list-style: none;

  display: inline-block;

  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;

    padding: 0 3px 6px 3px;

    &:first-child {
      margin-left: 0;
    }

    a {
      display: block;
    }

    .icon {
      text-align: center;

      position: relative;

      width: 36px;
      height: 36px;

      border-radius: 50%;

      &:before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
      }

      &.-vk {
        background-color: #4e76a2;

        &:before {
          .retina-sprite(@social-vk-group);

          margin-top: -@social-vk-height / 2;
          margin-left: -@social-vk-width / 2;
        }
      }

      &.-facebook {
        background-color: #3b5a99;

        &:before {
          .retina-sprite(@social-fb-group);

          margin-top: -@social-fb-height / 2;
          margin-left: -@social-fb-width / 2;
        }
      }

      &.-twitter {
        background-color: #5ea9de;

        &:before {
          .retina-sprite(@social-twitter-group);

          margin-top: -@social-twitter-height / 2;
          margin-left: -@social-twitter-width / 2;
        }
      }

      &.-instagram {
        background-color: #3e739c;

        &:before {
          .retina-sprite(@social-instagram-group);

          margin-top: -@social-instagram-height / 2;
          margin-left: -@social-instagram-width / 2;
        }
      }

      &.-youtube {
        background-color: #c5302b;

        &:before {
          .retina-sprite(@social-youtube-group);

          margin-top: -@social-youtube-height / 2;
          margin-left: -@social-youtube-width / 2;
        }
      }
    }
  }
}
