@import '../../../../styles/layout/_sprite.less';

.events_thumbs {
  font-size: 0;
  list-style: none;

  padding: 0;
  margin: 0;

  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;

  &__item {
    display: inline-block;

    position: relative;
  }

  &__event_link {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;

      background-color: #0165c6;
      opacity: 0.5;

      transition: opacity 0.2s ease;
    }
  }

  &__item:hover {
    &:before {
      display: none;
    }

    .name {
      color: inherit;
    }

    .text {
      display: none;
    }

    .events_thumbs__cover:before {
      opacity: 0;
    }
  }

  &__item {
    &.-meaningful:before {
      content: '';

      position: absolute;
      z-index: 2;

      .retina-sprite(@icon-meaningful-group);
    }

    &.-small {
      width: 25%;
      padding-bottom: 50%;

      .events_thumbs__text_block {
        top: 0;

        padding: 20px 25px 0 25px;

        .name {
          font-size: 40px;
          line-height: 40px;

          margin-bottom: 15px;
        }
      }

      &.-meaningful:before {
        bottom: 25px;
        right: 25px;
      }
    }

    &.-big,
    &.-empty {
      width: 50%;
      padding-bottom: 50%;
    }

    &.-big {
      .events_thumbs__text_block {
        bottom: 0;

        padding: 0 50px 35px 50px;

        .name {
          font-size: 62px;
          line-height: 62px;
        }
      }

      &.-meaningful:before {
        top: 35px;
        right: 35px;
      }
    }

    &.-empty:after {
      content: '';

      .retina-sprite(@main-logo-bg-group);

      position: absolute;
      top: 50%;
      left: 50%;

      margin-left: -@main-logo-bg-width / 2;
      margin-top: -@main-logo-bg-height / 2;

      opacity: 0.3;
    }
  }

  &__text_block {
    position: absolute;
    left: 0;
    z-index: 2;

    width: 100%;
    box-sizing: border-box;

    .text {
      font-size: 22px;
      line-height: 24px;

      margin-bottom: 5px;

      color: #fff;
    }

    .name {
      font-family: 'OpenSans-Light';
      font-weight: lighter;

      margin: 0;

      color: #fff;
    }
  }
}
