.club_symbols {
  &__pennant,
  &__pennant_images,
  &__pennant_name,
  &__pennant_desc {
    font-size: 0;
    list-style: none;

    padding: 0;
    margin: 0;
  }

  &__pennant {
    display: table;
  }

  &__pennant_images,
  &__pennant_name,
  &__pennant_desc {
    display: table-row;

    &_item {
      display: table-cell;

      &:not(:last-child) {
        padding-right: 90px;
      }
    }
  }

  &__pennant_images {
    padding-bottom: 10px;

    &_item {
      vertical-align: middle;

      .image {
        vertical-align: middle;

        width: 225px;
        height: 60px;

        background-color: #365598;
        border-radius: 50%;
      }
    }
  }

  &__pennant_name_item {
    padding-top: 10px;
  }

  &__pennant_desc_item {
    max-width: 230px;
  }
}
