@import '../../../../styles/layout/_sprite.less';

.accr_popup {
  .title {
    font-family: 'OpenSans-Light';
    font-size: 22px;
    font-weight: lighter;
    text-align: left;

    margin-bottom: 20px;

    color: #fff;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;

    margin: 30px 45px 0 65px;

    .retina-sprite(@main-logo-form-group);
  }

  .form {
    display: inline-block;
    vertical-align: top;

    width: 330px;

    &__select,
    &__input,
    &__comment,
    &__button {
      display: block;

      width: 100%;
    }

    &__select,
    &__input,
    &__comment {
      margin-bottom: 14px;
    }

    &__comment {
      height: 120px;
    }

    #g-recaptcha {
      margin-bottom: 14px;
    }
  }
}
