.teams_list {
  list-style: none;

  padding: 0 0 50px 0;
  margin: 0;

  &__item {
    display: flex;
    align-items: flex-start;

    margin-bottom: 2px;
  }

  &__logo_link {
    flex-shrink: 0;

    padding-left: 40px;

    .img_wrapper {
      text-align: center;

      width: 250px;

      &:not(:empty) {
        background: transparent;
      }

      &:empty {
        height: 100px;
      }

      img {
        display: inline-block;

        max-width: 100%;
      }
    }
  }

  &__desc {
    flex-grow: 1;

    padding: 0 30px;

    .title {
      margin: -3px 0 5px 0;
    }

    .class {
      margin-bottom: 10px;
    }

    a {
      color: #000;
    }
  }

  &__cover_link {
    flex-shrink: 0;

    width: 36.4963503649635%;
    height: 175px;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
