.news_article {
  &__content_wrapper {
    padding: 40px;
  }

  &__share_date,
  &__content {
    display: inline-block;
    vertical-align: top;
  }

  &__share_date {
    text-align: right;

    margin-right: 25px;

    .share {
      margin-bottom: 15px;
    }
  }

  &__content {
    max-width: 845px;

    .title {
      margin: -3px 0 15px 0;
    }

    .brief {
      font-family: 'OpenSans-SemiBold';

      margin-bottom: 20px;
    }

    .extended p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__author {
    max-width: 845px;
    padding: 40px 40px 40px 132px;
  }
}
