@font-face {
  font-family: 'OpenSans-Light';
  src: url('../../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/OpenSans-Light.woff') format('woff'),
    url('../../fonts/OpenSans-Light.ttf') format('truetype'),
    url('../../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight-Italic';
  src: url('../../fonts/OpenSansLight-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/OpenSansLight-Italic.woff') format('woff'),
    url('../../fonts/OpenSansLight-Italic.ttf') format('truetype'),
    url('../../fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/OpenSans.woff') format('woff'),
    url('../../fonts/OpenSans.ttf') format('truetype'),
    url('../../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../../fonts/OpenSans-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/OpenSans-Semibold.woff') format('woff'),
    url('../../fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('../../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/OpenSans-Bold.woff') format('woff'),
    url('../../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'OpenSans-Semibold';
  font-size: 22px;
  line-height: 22px;

  margin: 0;

  &.-section_title {
    margin: 0 0 40px 0;
  }
}

.cover-title {
  font-family: 'OpenSans-Light';
  font-size: 40px;
  line-height: 70px;

  color: #fff;
}

.text {
  font-family: 'OpenSans';
  font-size: 15px;
  line-height: 20px;

  &.-l {
    font-family: 'OpenSans-Light';
  }

  &.-li {
    font-family: 'OpenSansLight-Italic';
  }

  &.-sb {
    font-family: 'OpenSans-Semibold';
  }

  &.-b {
    font-family: 'OpenSans-Bold';
  }

  &.-capitilize {
    text-transform: capitalize;
  }
}
