@import '../../../styles/layout/_sprite.less';

.thumbs_nav {
  font-size: 0;
  list-style: none;

  padding: 0;
  margin: 0 -5px 0 0;

  &__item {
    display: inline-block;

    position: relative;

    width: 350px;
    height: 350px;
    margin: 0 5px 5px 0;

    a {
      display: block;

      width: 100%;
      height: 100%;
    }

    .img_wrapper {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      &:before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 100%;
        height: 100%;

        background-color: #0165c6;
        opacity: 0.5;

        transition: opacity 0.2s ease;
      }

      &:after {
        content: '';

        .retina-sprite(@main-logo-bg-group);

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;

        margin-left: -@main-logo-bg-width / 2;
        margin-top: -@main-logo-bg-height / 2;

        opacity: 0.3;
      }

      img {
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    &.-disabled {
      opacity: 0.5;

      .img_wrapper:before {
        background-color: #828282;
      }

      .cover-title {
        opacity: 0.6;
      }
    }

    &:not(.-disabled):hover .img_wrapper:before {
      opacity: 0;
    }

    .cover-title {
      position: relative;
      z-index: 3;

      padding-left: 20px;
    }
  }
}
