.custom_page_events {
  list-style: none;

  padding: 0;
  margin: 0;

  &__item {
    width: 100%;
    height: 170px;

    &:not(:last-child) {
      margin-bottom: 2px;
    }

    a {
      display: block;

      position: relative;

      width: 100%;
      height: 100%;

      &:before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        background-color: #0165c6;
        opacity: 0.5;

        transition: opacity 0.2s ease;
      }

      &:hover:before {
        opacity: 0;
      }
    }

    .img_wrapper {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__text_block {
    position: relative;
    z-index: 2;

    padding: 20px 35px;

    .name {
      font-family: 'OpenSans';
      font-size: 22px;

      margin: 0 0 12px 0;

      color: #fff;
    }

    .text {
      color: #fff;
    }
  }
}
