.events_list {
  list-style: none;

  width: 100%;
  padding: 40px 0 40px 130px;
  margin: 0;
  box-sizing: border-box;

  &__event {
    display: flex;

    margin-bottom: 2px;
  }

  &__share_date {
    text-align: right;

    flex-shrink: 0;

    .share {
      margin-bottom: 21px;
    }
  }

  &__content {
    flex-grow: 1;

    padding: 0 30px;

    .title {
      margin: -3px 0 20px 0;
    }

    .desc {
      margin-bottom: 15px;
    }

    a {
      color: #000;
    }
  }

  &__tag_list {
    font-size: 0;
    list-style: none;

    padding: 0;
    margin: 0;

    .text {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 5px;

        &:after {
          content: ' ,';
        }
      }

      a {
        text-decoration: underline;
      }
    }
  }

  &__cover {
    display: inline-block;
    flex-shrink: 0;

    width: 36.4963503649635%;
    height: 175px;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
